#scene-panel{
	width: inherit;
	height: 480px;
	background-color: #fff;
}

#scene-panel>.scene>.panel-heading{
  width: 100px;
  color: white;
  background-color: #333333;
  border:none;
  padding: 0;
  text-align: center;
}
#scene-panel>.scene>.panel-body{
  background-color: #333333;
  color: white;
  height: 100%;
}

#scene-panel>.panel{
  margin: 10px 5px;
  background-color: #fff;
  transition: opacity 0.4s ease-in-out;
  height: 300px;
  width: 300px;
  display:inline-block;
  vertical-align: middle;
  white-space:normal;
  border:none;
}
#scene-panel .scene {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}