body{
	background-color: #e6e6e6;
}
.navbar{
	margin-bottom: 0;
	background-color: #66b3ff;
	color:white;
	border:none;
	border-radius: 0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a{
	color:white;
}
.dropdown-menu > li > a{
	color: #262425;
}
#link-playground{
	padding: 20px;
	color:white;
	background-color: #e14b3b;
	position: fixed;
	text-align: center;
	font-size: 22px;
	z-index: 99;
}
#link-playground:link,#link-playground:visited,#link-playground:hover,#link-playground:active{
	text-decoration: none;
}
#link-add-category{
	/*padding: 10px;*/
	color:white;
	background-color: #ff8533;
	position: fixed;
	font-size: 15px;
	border-radius: 0 10px 10px 0;
	z-index: 50;
	margin: 0 auto;
	width: 40px;
	height: 35px;
	white-space: nowrap;
	line-height: 35px;
}
#link-add-category:link, #link-add-category:visited, #link-add-category:hover, #link-add-category:active{
	text-decoration: none;
}
.glyphicon{
	margin: 0;
	padding: 0;
}
.floating-left{
	float: left;
}
#add-sign{
	margin: 10px 5px 10px 10px;
}
#add-category-text{
	display: none;
	margin: 0;
	padding: 0;
}
#searchbar{
	margin:15px;
}
#control-panel{
	background-color: #e6e6e6;
	height: 50px;
	padding: 5px;
}
.ctrl-btn{
	padding: 10px;
	border:1px black solid;
	margin-right: 15px;
	color: black;
}
.ctrl-btn:link,.ctrl-btn.visited,.ctrl-btn:hover,.ctrl-btn:active{
	text-decoration: none;
	color: black;
}