#timeline-panel{
	background-color: #66b3ff;
	width: inherit;
	height: 150px;
	/*position: absolute;*/
	bottom: 0;
	overflow-x:auto;
  overflow-y:hidden;
	float:left;
  white-space:nowrap;
}

#timeline-panel .scene{
  height: 100px;
  width: 100px;
  overflow: hidden;
  display:inline-block;
  vertical-align: middle;
  white-space:normal;
  margin: 5px;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

}
#timeline-panel .panel-heading{
	overflow: hidden;
	white-space:nowrap;
}