
#sidebar {
	/*width: 230px;*/
	height: 100%;
	float: left;
    width: 150px;
	/*border-right: 1px solid white;*/
  	/*-webkit-box-shadow: 1px 0px 1px #ddd;
  	-moz-box-shadow: 1px 0px 1px #ddd;
  	box-shadow: 1px 0px 1px #ddd;*/
	z-index: 2;
	/*overflow-y: auto;
	overflow-x: hidden;*/
	background-color: #5672b6;

}

#content {
	/*margin-left: 230px;*/
	height: 100%;
	/*text-align: center;*/
	background-color: #ffe;
}


[ng-click] {
  	cursor: pointer;
  	user-select: none;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
}


#hide-sidebar:hover {
  	color: #000;
	
}
#hide-sidebar {
  	z-index: 10;
  	text-align: center;
	color: #666;
	position: absolute;
	border-radius: 10px 0 0 10px;
  	height: 100px;
  	line-height: 100px !important;
  	width: 20px;
  	background-color: #fff;
}

#show-sidebar {
	position: absolute;
	z-index: 10;
	border-radius: 0 10px 10px 0;
	height: 100px;
	line-height: 100px !important;
	background-color: #666;
	text-align: center;
	color: #fff;
	width: 20px;
}
.dropdown-menu > li > a{
    color: #262425;
}
#hide-sidebar span, #show-sidebar span{
    line-height: 100px !important;
}

/*       sidebar menu's style           */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 150px;
  font-family: Raleway, sans-serif;
  color: #262425;
  margin:auto;

}
#cssmenu ul ul {
  display: none;
}
#cssmenu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 22px;
  cursor: pointer;
  z-index: 2;
  /*font-size: 16px;*/
  text-decoration: none;
  color: #000;
  background: #e6e6e6;
  -webkit-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}
#cssmenu > ul > li > a:hover {
  color: #d8f3f0;
  background-color: #777;
}
#cssmenu ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #000;
  content: "";
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#cssmenu ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #000;
  content: "";
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

}
.open > a{
    background-color: #e14b3b !important;
    color: white !important;
}
#cssmenu ul ul li a {
  padding: 14px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  text-decoration: none;
  color: #dddddd;
  background: #49505a;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}
#cssmenu ul ul ul li a {
  padding-left: 32px;
}
#cssmenu ul ul li a:hover {
  color: #ffffff;
  background-color: #777;
}
#cssmenu ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background: #dddddd;
}
#cssmenu ul ul > li.has-sub > a:before {
  top: 20px;
  background: #dddddd;
}


#link-playground{
    padding: 20px;
    color:white;
    background-color: #e14b3b;
    position: fixed;
    text-align: center;
    font-size: 22px;
    z-index: 99;
}
#link-playground:link,#link-playground:visited,#link-playground:hover,#link-playground:active{
    text-decoration: none;
}
#link-add-category{
    /*padding: 10px;*/
    color:white;
    background-color: #ff8533;
    position: fixed;
    font-size: 15px;
    border-radius: 0 10px 10px 0;
    z-index: 50;
    margin: 0 auto;
    width: 40px;
    height: 35px;
    white-space: nowrap;
    line-height: 35px;
}
#link-add-category:link, #link-add-category:visited, #link-add-category:hover, #link-add-category:active{
    text-decoration: none;
}
#subItemsGroup{
    border-radius: 0 0 10px 10px;
    border-width: 0 2px 2px 2px;
    border-style: dashed;
    border-color: grey;
    margin-bottom: 20px;

}
.floating-left{
    float: left;
}
#add-sign{
    margin: 10px 5px 10px 10px;
}
#add-category-text{
    display:none;
    z-index: 100;
    margin: 0;
    padding: 0;
}
